.App {
  height: 100%;
  text-align: center;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #5c0519 1%, #151e25 40%, #0c2d22 70%, #060c08 100%);
}

::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 240, 240, 0.199);
}

html, body {
  background: linear-gradient( to bottom, #3f0311, #141d24, #071b15, #0c1a11) !important;
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 350vh !important;
}

.ui.cards {
  padding: 2em;
}
.ui.card>.content, .ui.cards>.card>.content {
  padding: 0 !important;
}
.brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.4rem;
}
